# Output
/EXTRACTIONS
/EXTRACTIONS/*
/RAW
/RAW/*
/docs/EXTRACTIONS
/docs/EXTRACTIONS/*
/docs/RAW
/docs/RAW/*
/FedData Test
/FedData Test/*

# Mac trash files
.DS_Store
*/.DS_Store
R/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
