import(sp,raster,rgdal,rgeos,igraph,data.table,RCurl,devtools,soilDB)
export(getGHCNDaily)
export(downloadGHCNDailyStation)
export(getGHCNDailyStation)
export(getGHCNInventory)
export(getITRDB)
export(downloadITRDB)
export(read.crn)
export(read.crn.metadata)
export(read.crn.data)
export(getNED)
export(downloadNEDTile)
export(getNEDTile)
export(getNHD)
export(downloadHUC4)
export(getHUC4)
export(downloadNHDSubregion)
export(getNHDSubregion)
export(getSSURGO)
export(downloadSSURGOInventory)
export(getSSURGOInventory)
export(downloadSSURGOStudyArea)
export(getSSURGOStudyArea)
export(extractSSURGOData)
export(pkgTest)
export(substrRight)
export(polygonFromExtent)
export(SPDFfromPolygon)
export(sequential.duplicated)
export(wgetDownload)
export(curlDownload)


